@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}
.main {
  background-image: url(Images/header-hero.jpg);
  background-size: cover;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.nav {
  padding: 20px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-items a {
  margin: 0px 25px;
  font-size: 20px;
  color: white;
}
.nav-items span {
  padding: 10px 20px;
  color: white;
  border: 1px solid white;
}
.main-heading {
  display: flex;
  flex-flow: column;
  text-align: center;
  height: 80%;
  justify-content: center;
}
.main-heading h2 {
  font-size: 50px;
  color: white;
  margin-bottom: -23px;
}
.main-heading h1 {
  font-size: 117px;
  color: white;
}
.main-heading p {
  font-size: 16px;
  color: white;
  line-height: 24px;
  vertical-align: baseline;
  letter-spacing: normal;
}
.main-heading button {
  margin-top: 20px;
  background-color: #fed74c;
  color: black;
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
}

.service-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.service-heading h1 {
  text-align: center;
  color: #536942;
  font-size: 40px;

  padding-bottom: 10px;
}

.service-heading hr {
  border: 2px solid #fed74c;
  margin-bottom: 50px;
  width: 100px;
}
.main-imgdt {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0px;
}
.main-service {
  margin: 20px 80px;
  height: 120vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.img-dt h3 {
  margin: 20px;
  color: #333b2d;
}
.img-dt p {
  margin: 20px;
  color: #526840;
  font-weight: 300;
  font-size: 16px;
  line-height: 27px;
}
.quotes-main {
  text-align: center;
  height: 60vh;
  background-color: #f6f8f5;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.av img {
  height: 50px;
}
.av p {
  font-size: 14px;
  font-weight: 200;
  padding-top: 10px;
  color: #b6b0c0;
}
.quotes-main h1 {
  margin: 40px 0px;
  font-size: 35px;
  font-family: "Forum", cursive;
  color: #536942;
  font-weight: 200;
}
.quotes-main img {
  height: 50px;
}
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  margin: 0% 10%;
}
.about-right img {
  height: 500px;
}
.about-left p {
  font-size: 12px;
  color: #536941;
}
#down-p {
  font-size: 16px;
  margin-bottom: 50px;
}
.about-left h1 {
  font-size: 40px;
  margin-bottom: 50px;
  margin-top: 20px;
  color: #536942;
  font-family: "Forum", cursive;
}
.about-left span {
  padding: 10px 20px;
  color: black;
  border: 1px solid black;
}
.que {
  background-image: url(Images/footer-hero-big.jpg);
  height: 75vh;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-position: center;
}
.que h1 {
  font-size: 54px;
  color: #536942;
}
.que p {
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #38422f8f;
}
.que button {
  margin-top: 20px;
  background-color: #fed74c;
  color: #091102a8;
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
}
.end {
  height: 18vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0px 100px;
  justify-content: center;
  align-items: center;
}
.enav a {
  font-size: 15px;
  justify-content: space-between;
  margin-left: 10px;
}

.grid {
  display: flex;
  justify-content: center;
}

/* 



About Page CSS Started Here



*/

.about-main {
  background-image: url(Images/header-hero-1.jpg);
  background-color: black;
  background-size: cover;
  height: 65vh;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.about-nav {
  padding: 20px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-nav-items a {
  margin: 0px 25px;
  font-size: 20px;
  color: white;
}
.about-nav-items span {
  padding: 10px 20px;
  color: white;
  border: 1px solid white;
}
.head {
  text-align: center;
  font-size: 56px;
  margin-top: 50px;
  font-weight: 100;
  color: white;
}
.ab h2 {
  margin: 40px 0px;
  font-size: 35px;
  font-family: "Forum", cursive;
  color: #536942;
  font-weight: 200;
}
.ab img {
  height: 470px;
}
.ab {
  align-items: center;
  display: flex;
  flex-flow: column;
}
.abb {
  align-items: center;
  display: flex;
  margin-left: 200px;
  justify-content: space-between;
  margin-right: 200px;
  margin-top: 50px;
  color: #292e25;
}
.abb p {
  font-size: 15px;
}
.abb1 {
  text-align: center;
  font-size: 16px;
  color: #536942;
}
.abb2 {
  text-align: center;
  font-size: 16px;
  color: #536942;
}
.abqu {
  background-color: #f6f8f5;
  height: 60vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.abqu h2 {
  font-family: "Forum", cursive;
  color: #536942;
  font-size: 35px;
}
.abend {
  height: 18vh;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
}
.abnav a {
  font-size: 17px;
  margin-left: 10px;
}

.abgrid {
  display: flex;
  justify-content: center;
}

/*

Services CSS is Started From here

*/

.ser-main {
  background-image: url(Images/services-hero.jpg);
  background-color: black;
  background-size: cover;
  height: 65vh;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.ser-nav {
  padding: 20px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ser-nav-items a {
  margin: 0px 25px;
  font-size: 20px;
  color: white;
}
.ser-nav-items a {
  margin: 0px 25px;
  font-size: 20px;
  color: white;
}
.ser-head {
  text-align: center;
  font-size: 56px;
  margin-top: 50px;
  font-family: "Arial Narrow", sans-serif;
  font-weight: 100;
  color: white;
}
.ser-nav-items span {
  padding: 10px 20px;
  color: white;
  border: 1px solid white;
}
.ser {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  margin: 0% 10%;
}
.ser-why {
  height: 70vh;
  background-color: #f6f8f5;
  align-items: center;
}
.send {
  height: 18vh;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
}
.snav a {
  font-size: 17px;
  margin-left: 10px;
}

.sgrid {
  display: flex;
  justify-content: center;
}

/*

ContactUs Page CSS Started from here

*/

.con-main {
  background-image: url(Images/contact-hero-1.jpg);
  background-color: black;
  background-size: cover;
  height: 65vh;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.con-nav {
  padding: 20px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.con-nav-items a {
  margin: 0px 25px;
  font-size: 20px;
  color: white;
}
.con-nav-items a {
  margin: 0px 25px;
  font-size: 20px;
  color: white;
}
.con-head {
  text-align: center;
  font-size: 56px;
  margin-top: 50px;
  font-family: "Arial Narrow", sans-serif;
  font-weight: 100;
  color: white;
}
.con-nav-items span {
  padding: 10px 20px;
  color: white;
  border: 1px solid white;
}
.con {
  background-color: #f6f8f5;
  height: 100vh;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-flow: column;
}
.con h1 {
  font-size: 40px;
  margin: 30px 0px;
}
.con img {
  margin: 30px 10px;
}
.abend {
  height: 18vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
}
.abnav a {
  font-size: 17px;
  margin-left: 10px;
}

.abgrid {
  display: flex;
  justify-content: center;
}
